<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1 class="add-pages-header">Add A Lake To This Site</h1>
  <p>Check list on the home page to ensure that it has not already been added</p>
  <form action="/lakes" method="post">
    <label id="add-lake-input">
      <input type="text" name="name" placeholder="Lake Name">
    </label><br>
    <label id="add-lake-input">
      <input type="text" name="state" placeholder="Lake State">
    </label><br>
    <label id="add-lake-input">
      <input type="text" name="acres" placeholder="Number of Acres">
    </label><br>
    <label id="add-lake-input">Is this lake public?
      <select name="public">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </label><br>
    <button type="submit">Add Lake</button>
  </form>
</main>

<%- include('../partials/footer') %>