<section>
  <h1>Edit</h1>
  <form action="/profiles/personalbest/<%= pb._id %>?_method=PUT" method="post">
    <label>
      Weight:
      <input type="text" name="weight" value="<%= pb.weight %>" autocomplete="off">
    </label>
    <button type="submit">Update Weight</button>
  </form>
</section>
